<html>
<head>
    <title>Metal functions</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
        body {
            margin-top: 100px;
            background-color: #e7eff5;
            text-align: center;
            font-family: 'Anton', sans-serif;
        }
        h1 {
            color: #031f2a;
            font-size: 50px;
        }
        p {
            color: #74a5b1;
        }
    </style>
</head>
<body>
<p>Powered by</p>
<h1>Metal Functions</h1>
</body>
</html>
